.product_container {
  background-color: var(--Tertiary-color);
  width: 350px;
  height: 164px;
  border-radius: 30px;
  box-shadow: -5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  top: 20rem;
}
.product_data {
  display: flex;
  gap: 10px;
  padding: 40px 0px 0px 35px;
}
.title {
  width: 157px;
  height: 16px;
  font-size: 20px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  padding-top: 10px;
}
