.side_1 {
  padding-top: 70px;
  color: white;
}
.line_breaker {
  padding-top: 40px;
  border-bottom: 3px solid white;
}
.side_2 {
  padding-top: 70px;
  color: white;
  cursor: pointer;
}
.follow {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}
