.list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  list-style: none;
}
.list_in {
  display: flex;
  gap: 10px;
}
.proimg {
  width: 64px;
  height: 64px;
}
.line_breaker {
  border-bottom: 2px solid #d9d9d9;
}
.line_breaker_green {
  border-bottom: 7px solid #65b741;
  width: 295px;
  margin: 0 auto;
}
