.main_heading {
  color: var(--Secondary-color);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  margin-top: 100px;
}
.second_heading {
  color: var(--Secondary-color);
  font-size: 16px;
  font-weight: 200;
  line-height: 25px;
}
.cta_btn {
  color: #fff;
  width: 150px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 30px;
  font-weight: 600;
  border: none;
}
