:root {
  --primary-color: #65b741;
  --Secondary-color: #f8f8f8;
  --Tertiary-color: #000;
  --Logo-font: "Salsa";
  --normal-font: "Nunito Sans";
}
.backgroundimg {
  background-image: url("/Background-image-hero-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

html {
  font-family: var(--normal-font);
}

span {
  color: var(--primary-color);
}
.breaker {
  margin-top: 200px;
}
.tomatoimg {
  background-image: url("tomoato.png");
  z-index: -1;
  width: 300px;
  height: 600px;
  position: relative;
  bottom: 10rem;
}

.followerimg {
  background-image: url("followe.png");
  z-index: -1;
  width: 300px;
  height: 600px;
  float: right;
  position: relative;
  bottom: 150px;
}

.footerimg {
  background-image: url("/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
.Logo {
  font-family: var(--Logo-font);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 50px;
  cursor: pointer;
  mix-blend-mode: difference;
}
.circle {
  background-color: var(--primary-color);
  width: 39px;
  height: 40px;
  border-radius: 200px;
  float: right;
  position: relative;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.swiper-pagination-bullet {
  background-color: var(--primary-color);
  width: 19px;
  height: 19px;
  border-radius: 20px;
  position: relative;
  bottom: 15rem;
}
