.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 8px;
  color: var(--Secondary-color);
  font-size: 20px;
  cursor: pointer;
}
