.order_btn {
  background-color: var(--primary-color);
  width: 180px;
  height: 60px;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  color: black;
  margin-left: 55px;
}
.card {
  background-color: var(--Tertiary-color);
  width: 330px;
  height: 430px;
  box-shadow: -5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 100px;
  left: 20px;
}
.Content {
  color: #fff;
  position: relative;
  bottom: 55px;
  font-style: normal;
}
.ProductName {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 35px;
  font-weight: 800;
  line-height: 42px;
}

.discription {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
}
