.card_container {
  color: white;
  background-color: var(--Tertiary-color);
  position: relative;
  top: 25rem;
}
.user {
  font-family: var(--normal-font);
  font-style: normal;
  line-height: 0.5;
  position: relative;
  left: 70px;
  bottom: 40px;
}
.username {
  font-size: 20px;
  font-weight: 800;
}
.status {
  font-size: 10px;
  font-weight: 400;
}
